doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='node-env', content=env)
    title ktabori
    
    link(rel='stylesheet', href='/css/core.css')
    link(href="http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600", rel="stylesheet", type="text/css")

    if env == 'development'
      script(src='http://localhost:35729/livereload.js')
    
  body.boxed-layout.btn-rounded
  if navigation
    .nav-container
      nav
        .nav-bar
          .module.left
            a(href="/") KTABORI
          .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs
            i.ti-menu
          .module-group.right
            .module.left
              ul.menu
                each n in navigation
                  li
                    a(href=n.fields.URL)= n.fields.Title

    .main-container
      block content
    
    footer.footer-2.bg-dark.text-center-xs
      .container
        .row
          .col-sm-6
            span.fade-half
              | &#169; Copyright 2015 KTABORI
          .col-sm-6.text-right.text-center-xs
            ul.list-inline.social-list
              li
                a(href="https://twitter.com/ktabori")
                  i.fa.fa-twitter
              li
                a(href="https://www.facebook.com/krtabori")
                  i.fa.fa-facebook
              li
                a(href="https://dk.linkedin.com/in/ktabori")
                  i.fa.fa-linkedin
              li
                a(href="https://vimeo.com/ktabori")
                  i.fa.fa-vimeo
              li
                a(href="https://instagram.com/ktabori")
                  i.fa.fa-instagram
              li
                a(href="https://dribbble.com/ktabori")
                  i.fa.fa-dribbble
              li
                a(href="https://500px.com/ktabori")
                  i.fa.fa-500px
                  
    script(src='/js/core.js')
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72121735-2', 'auto');
      ga('send', 'pageview');
